/*Importar fuente*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Variables de Colores */
:root {
  --marron-oscuro: #4a2c2a;
  --marron-medio: #8b5e3c;
  --beige-claro: #f5e8c7;
  --blanco: #ffffff;
}

body {
  font-family: "Rubik Wet Paint";
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--marron-oscuro);
  height: 100vh;
  width: 100%;
}

/* Cabecera */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--marron-oscuro);
  padding: 1rem 2rem;
  font-size: 19px;
}

.logo img {
  width: 70px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 2rem;
}

nav ul li a {
  color: var(--blanco);
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--beige-claro);
  border-bottom: #f5e8c7ab solid 0.05em;
}

button {
  border-radius: 5px;
}

/* Sección Principal */
.main-section {
  height: 400px;
  background-image: url("img/fondo-index.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 3rem 2rem;
  color: var(--marron-oscuro);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 32px 32px 0 32px;
}

.main-section h1 {
  color: var(--marron-oscuro);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.main-section p {
  color: var(--marron-oscuro);
  font-size: 1rem;
  margin-bottom: 2rem;
}

.main-button {
  background-color: var(--marron-medio);
  color: var(--blanco);
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  background-image: linear-gradient(
    to bottom,
    var(--marron-medio) 50%,
    var(--beige-claro) 50%
  );
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s, color 0.5s, transform 0.5s;
}

.main-button:hover {
  background-position: bottom;
  color: var(--marron-oscuro);
  transform: rotate(-2deg);
}

.main-button:hover {
  background-position: bottom;
  color: var(--marron-oscuro);
}

/* Sección de Productos */
.product-section {
  padding: 2rem;
  text-align: center;
  background: linear-gradient(to bottom, white, #4a2c2a1d);
}

.product-section h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}

.product-item {
  border: 1px solid var(--marron-medio);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.product-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
}

.product-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-item h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.product-item p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
}

.buy-button {
  background-color: var(--marron-oscuro);
  color: var(--blanco);
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  width: 40%;
  align-self: center;
}

.buy-button .fa-solid {
  padding-left: 5px;
}

.buy-button:hover {
  background-color: var(--marron-medio);
  width: 100%;
  border-radius: 0;
  transition: 0.5s all;
}

/*Novedades*/
.novedades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

/* Pie de página */
footer {
  background-color: var(--marron-oscuro);
  color: var(--blanco);
  padding: 1.5rem;
  text-align: center;
  margin-top: auto;
}

footer p {
  margin-bottom: 1rem;
}

footer p a {
  text-decoration: none;
  color: inherit;
}

footer p a:hover {
  color: var(--beige-claro);
}

.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-icons li {
  margin: 0 1rem;
}

.social-icons li a {
  color: var(--beige-claro);
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.social-icons li a i {
  margin-right: 0.5rem;
}

.social-icons li a:hover {
  color: var(--blanco);
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 0.5rem 0;
  }
}

/* Estilos adicionales para el menú hamburguesa */
.menu-toggle {
  display: none;
  font-size: 2rem;
  color: var(--blanco);
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--marron-oscuro);
    position: absolute;
    top: 100%;
    left: 0;
  }

  nav ul.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  header {
    flex-direction: column;
    position: relative;
  }
}

/*formulario*/
/* Sección de Contacto */
.row-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-section {
  padding: 2rem;
  background-color: var(--beige-claro);
  border-radius: 20px;
  margin: 32px 32px;
  text-align: center;
  width: 40%;
}

.contact-section h2 {
  color: var(--marron-oscuro);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--marron-oscuro);
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--marron-medio);
  border-radius: 5px;
  background-color: var(--blanco);
  color: var(--marron-oscuro);
  font-size: 1rem;
}

textarea {
  width: 300px;
  height: 150px;
  resize: none;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--marron-oscuro);
}

.submit-button {
  background-color: var(--marron-medio);
  color: var(--blanco);
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: var(--marron-oscuro);
  color: var(--beige-claro);
}

/* Estilos específicos para la página Acerca de */
.about-section {
  padding: 2rem;
  background-color: var(--beige-claro);
  border-radius: 20px;
  margin: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-section h2 {
  color: var(--marron-oscuro);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.about-section p {
  color: var(--marron-oscuro);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  width: 700px;
}
/* Estilos específicos para la página Acerca de */
.about-section {
  padding: 2rem;
  background-color: var(--beige-claro);
  border-radius: 20px;
  margin: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-section h2 {
  color: var(--marron-oscuro);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.about-section p {
  color: var(--marron-oscuro);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  width: 700px;
}

/* Estilos para el mapa */
.map-container {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  border: 2px solid var(--marron-medio);
  border-radius: 10px;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/*Novedades*/
.novedades {
  background-color: #f9f9f9;
  padding: 2em;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2em 0;
}

.novedades h4 {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.novedades p {
  color: #666;
  font-size: 1.1em;
  margin-bottom: 1.5em;
}

.novedades .send {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.novedades input[type="email"] {
  padding: 0.8em;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 250px;
  max-width: 300px;
}

.novedades input[type="email"]::placeholder {
  color: #999;
}

.novedades button {
  padding: 0.8em 1.5em;
  font-size: 1em;
  color: #fff;
  background-color: var(--marron-medio);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.novedades button:hover {
  background-color: var(--marron-oscuro);
}
