* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  border: black 2px solid;
  border-style: dotted;
  justify-content: space-between;
}

.blue,
.red {
  width: 33.3%;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}
