* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

#cabeceira {
  background-color: black;
  color: yellow;
  padding: 20px 10px;
}

.container {
  display: flex;
  height: 100%;
}

#navegacion {
  background-color: grey;
  width: 300px;
  height: 100%;
  display: flex;
  text-align: center;
}

ul {
  padding: 40px 70px;
  list-style: none;
}

a {
  color: rgb(56, 255, 6);
  font-size: px;
}

#contido {
  background-color: rgb(218, 218, 218);
  height: 100%;
}

#pe {
  background-color: rgb(184, 184, 184);
  color: brown;
  text-align: center;
  padding: 20px;
}
